<!DOCTYPE html>
<html>
<head>
	<title>Add Post</title>
</head>
<body ng-app = "EnoticeBoardWebApp">
<div class="container">
	<h2>Add Post</h2>
	<form role = "form" name="postform" ng-submit="createPost()" novalidate="">
		<legend>Create the Post</legend>
		<div class="col-md-5">
			<div class="form-group" >
				<label for="titletxt">Post Title</label>
				<input type="text" name="titletxt" class="form-control" placeholder="Title" ng-model="articles.titletxt" required="" >
               
			</div>
			<div class="form-group"  >
				<label for="posttxt">Post</label>
				<textarea name="posttxt" class="form-control" placeholder="Post" ng-model="articles.posttxt"></textarea >

			</div>
			<div class="form-group"  >
				<label for="image">ImageUpload</label>
				<input type="file" name="image" id="file">
				<button type="button" ng-click="upload()">Upload</button>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Add Post</button>
			</div>
			
			
		</div>
	</form>

</div>
</body>
</html>